@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Montserrat+Alternates:wght@400;700&display=swap');

:root {
  height: 100vh;
  width: 100%;
  font-family: 'Montserrat Alternates', sans-serif; 
  font-family: 'Comfortaa', sans-serif; 
  line-height: 1.5;
  color: rgb(198, 238, 248);
  background: rgb(0, 8, 18);
  background-size: cover;
  background-position: center;
}

body {
  background: rgb(6,26,60);
  background: linear-gradient(144deg, rgba(6,26,60,1) 0%, rgba(0,8,18,1) 100%);
}

