.searchBar {
    display: flex; 
    text-align: center;
    justify-content: right;
    flex-wrap: wrap;
    flex-grow: 1;
}

.input {
    border-radius: 10px;
    padding: 2px;
    font-family: 'Comfortaa', sans-serif;
    font-size: small;
}

.button {
    border: 3px solid #31738F;
    border-radius: 10px;
    padding: 8px 15px;
    cursor: pointer;
    transition: color 0.3s;
    margin: 2px;
    font-family: 'Comfortaa', sans-serif;
    font-size: small;
}

.button:hover {
    color: #31738F;
  }